ul{
	list-style: none;
}
/*** tab-panel テーブルpart***/

#timetable{
	width: 100%;
	padding:10px 0 40px 0;
	margin:5% auto;
	background:url("../img/timetable-pt.jpg");
}
#timetable h2{
	text-align: center;
}
#timetables{
	width: 80%;
	border: 1px solid gray;
	margin:2rem auto 0 auto;
}
#timetable table{
	background: #fff;
	width: 100%;
	border-width: 0px;
    text-align: center;
}
#timetable th,td{
	text-align: center;
	min-width:120px;
	font-size:2rem;
}
#timetable th{
	background: #ddd;
	border-top: 1px solid #fafafa;
	border-bottom: 1px solid #fafafa;
}
#timetable a{
	color: white;
	height:9vh;
	display: block;
	padding-top: calc((8vh - 2rem)/2);
}
#bisid{background:#36B1BF;box-shadow:0px 0px 2px 5px rgba(0,0,0,0.2) inset;}
#bsotu{background:#00A388 ;box-shadow:0px 0px 2px 5px rgba(0,0,0,0.2) inset;}
#bron{background:#F5A503 ;box-shadow:0px 0px 2px 5px rgba(0,0,0,0.2) inset;}
#bhou{background: #F2385A;box-shadow:0px 0px 2px 5px rgba(0,0,0,0.2) inset;}
#bcame{background:#49BF55 ;box-shadow:0px 0px 2px 5px rgba(0,0,0,0.2) inset;}
#bweb{background:#F5E303 ;box-shadow:0px 0px 2px 5px rgba(0,0,0,0.2) inset;}
#brin{background:#4AD9D9 ;box-shadow:0px 0px 2px 5px rgba(0,0,0,0.2) inset;}
tr{
	border: 1px solid;
}
#timetable #blunch{color:olive;}
/***tab-contet****/
#zemiabout{
	width: 80%;
	position: relative;
	padding:0 10%;
	margin:5% auto;
}

#zemiabout p{
	width:100%;
	margin:1em auto 0 auto;
	position: relative;
}
.snap{
	display: block;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.snap > img{
	width: 100%;
	margin: 0;
	padding: 0;
}
.snap h3{
	margin: 0;
	font-size:2.5rem;
	z-index: 90;
	padding: 1em 0;
	text-align: center;
	background: rgba(255,255,255,0.5);
	top: calc(50% - 1em);
	position: absolute;
	width: 100%;
}
.snap-img{
	float: left;
	width: 50%;
}
.example h4,.links h4{
	text-align: center;
}
.example,.links{
	margin-top: 2%;
	width: 100%;
	position: relative;
}
.example a{
	color: white;
	display: block;
	padding:0.5em 1em;
	margin-bottom:1em;
	background:#36B1BF;
	text-align: center;
}
.example ul{
	padding: 0;
	width: 100%;
	list-style: none;
	position: relative;
}
.example li{
	margin:8px auto;
	border:solid 1px #36B1BF;
	display: inline-block;
	padding-bottom: 1em;
	width: 30%;
	text-align: center;
}
.example li:first-child{
	position: relative;
	left: 0;
}
.example li:nth-child(2){
	margin:0 3%;
}
.link{
	box-sizing: border-box;
	width: 20%;
	position: relative;
	height: auto;
    float: left;
    margin: 2%;
}

.link:before{
	content: "";
	display: block;
	padding-top: 100%;
}

.circle{
	position: absolute;
    box-sizing: border-box;
    font-size: 2.5rem;
    width: 100%;
    height: 100%;
    top:0;
    padding-top:-webkit-calc(50% - 2rem) ;
    padding-top: calc(50% - 2rem);
    text-align: center;
    border-radius: 50%;
	background:#F5E303;
}
.circle:hover{
	color: #000;
	background: #D1F1CC;
}

.square_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    position: absolute;
    left: 0;
    top: 100%;
    margin-top:15px;
    background: #00A388;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
.square_btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}
.key{
	padding: 0 1em;
}

#subnav{
	width: 100%;
	background: #fafafa;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	text-align: center;
}
.ancor{
	padding:0.7em 0;
}
#subnav a{
	margin:0 1em;
}
#subnav a:after{
	content: "/";
	margin-left: 1em;
}
/****モバイル表示のテーブル調整****/
@media screen and (max-width: 640px) {
	#timetables{
		width: 90%;
		overflow-x: scroll;
	}
	table td{
		min-width: 1px;
	}
	#zemiabout{
		width:100%;
	}

	
}
